body{
    margin: 0;
    background-color: #1E3266;
    font-family: 'Roboto', sans-serif;
}
header{
    height: 100px;
    background-image: url("../image/Cloudy.svg");
    background-size: cover;
    background-position: center center;
}
main{
    background-color: white;
    margin: 0;
}
main h1{
    color: #1E3266;
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.name_partie {
    color: #1E3266;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}
.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: 'Roboto', sans-serif;
    flex: 1;
}
.menu a:hover {
    color: white;
}
.z-index {
    z-index: 999;
    background-color: #1E3266;
    width: 100%;
    padding-bottom: 1rem;
}

.menu-burger {
    display: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .menu-burger {
        display: block;
    }
}





/* partie pour la page de contact */
.contact-main {
    margin: 2% 25% 5% 25%;
    border-radius: 50px;
    background: #1E3266;
}

.contact-form h2{
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.btn-mail{
    display: flex;
    justify-content: center;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
}

.form-group textarea {
    height: 120px;
    display: flex;
}

.form-group button {
    padding: 10px 20px;
    background-color: white;
    color: #1E3266;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s ease;
    margin: 0 0 5% 0;
    width: 50%;
    font-family: 'Roboto', sans-serif;
}
.form-group button:hover{
    background-color: blue;
    color: white;
}






/*bas de page*/
footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1E3266;
    padding: 20px;
}

.footer-partie {
    display: flex;
    align-items: center;
}

.footer-partie svg {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

#tel,
#mail {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    white-space: nowrap;
    font-size: 30px;
}
#tel:hover,
#mail:hover {
    color: blue;
}