/* partie pour les projets*/
.icon-project .btn-download-type {
    border: solid 2px #1E3266;
    color: #1E3266;
    padding: 1rem 5rem;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 900;
}
.icon-project .fa-code {
    cursor: auto;
}
.button-container {
    display: flex;
    justify-content: flex-end;
}

.icon-project .btn-download-type:hover {
    background: #1E3266;
    color: white;
}

.project-info {
    text-align: center;
}

.project-info h5 {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    color: #1E3266;
    font-weight: 700;
    padding: 1rem 0;
}

.picture_project{
    margin: 0 auto;
    max-width: 40%;
}

.icon-project {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
}
.active {
    width: 100%;
}
.tabs {
    width: 700px;
    height: 500px;
    background: #f5f5f5;
    padding: 20px 30px;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 5px 10px 25px black;
    margin: 0 auto;
}
.tabs .tab-header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tabs .tab-header > div {
    width:calc(100% / 3);
    text-align: center;
    color: #888;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
}
.tabs .tab-header > div > i {
    display: block;
    margin-bottom: 5px;
}
.tabs .tab-header > div.active {
    color: #1E3266;
}
.tabs .tab-indicator {
    position: relative;
    width: calc(100% / 6);
    height: 5px;
    background: #1E3266;
    left: 0;
    border-radius: 5px;
    transition: all 500ms ease-in-out;
}
.tabs .tab-body {
    position: relative;
    height: calc(100% - 60px);
    padding: 10px 5px;
}
.tabs .tab-body > div {
    position: absolute;
    top: -200%;
    opacity: 0;
    margin-top: 5px;
    transform: scale(0.9);
    transition: opacity 500ms ease-in-out 0ms, transform 500ms ease-in-out 0ms;
}
.tabs .tab-body > div.active {
    top: 0;
    opacity: 1;
    transform: scale(1);
    margin-top: 0;
}
.popup {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
    min-width: 6rem;
    border: solid 2px #1E3266;
}
.pop-1{
    top: 4rem;
}

.popup ul {
    list-style-type: none;
    padding: 0;
}
.popup li {
    padding: 5px 0;
    font-weight: bold;
}
.button-container i {
    border: solid 2px #1E3266;
    border-radius: 50px;
    padding: 0.5rem;
}
.button-container i:hover {
    background: #1E3266;
    color: white;
}
#myButton:hover + .popup {
    display: block;
}
