body{
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    border: solid 5px deepskyblue;
    border-radius: 15px;
    margin: 10px 50px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.6);
}

h1{
    font-size: 60px;
    color: lightskyblue;
}

.forlmulaire{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
form input{
    font-size: 25px;
    border-radius: 15px;
    border: solid 3px lightskyblue;
    width: 40%;
    margin: 15px 0;
}

#btn_valid{
    width: 20%;
    transition: background-color 0.3s ease;
}
#btn_valid:hover{
    background-color: lightskyblue;
    color: white;
}
#btn_valid:active{
    background-color: darkblue;
    border: solid 3px darkblue;
}